/*start of new nv*/
.navbar {
  padding:0rem;
  margin-bottom:2rem;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
  
  .kd-on{
    border:solid;
    border-color:#50ebeb;
    border-width:1px;
    background:#e2e2e2;
  }
}

/*end of new nav*/

/*start of test1*/
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #efefef;
  line-height: 170%;
}

strong,
b {
  font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 150%;
}

i.fa {
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.main-container {
  background: #fff;
  max-width: 1000px;
  margin: 25px auto 25px auto;
  position: relative;
}

.testimonialscontainer {
  position: relative;
  padding: 25px;
}
/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide right styled for testimonials*/

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide.testimonial {
  float: left;
  width: 47%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 15px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #EAEAEA;
}
.animation-element.slide.testimonial:hover,
.animation-element.slide.testimonial:active{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide.testimonial:nth-of-type(odd) {
  width: 48.5%;
  margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide.testimonial:nth-of-type(even) {
  width: 48.5%;
  margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide.testimonial .header{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.animation-element.slide.testimonial .left{
  float: left;
  margin-right: 15px;
}
.animation-element.slide.testimonial .right{
  float: left;
}

.animation-element.slide.testimonial img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide.testimonial h3 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide.testimonial h4 {
  margin: 0px 0px 5px 0px;
}

.animation-element.slide.testimonial .content {
  float: left;
  width:100%;
  margin-bottom: 10px;
}

.animation-element.slide.testimonial .rating{}

.animation-element.slide.testimonial i {
  color: #aaa;
  margin-right: 5px;
}



/*media queries for small devices*/
@media screen and (max-width: 678px){
  /*testimonials*/
  .animation-element.slide.testimonial,
  .animation-element.slide.testimonial:nth-of-type(odd),
  .animation-element.slide.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .animation-element.slide.testimonial .right,
  .animation-element.slide.testimonial .left,
  .animation-element.slide.testimonial .content,
  .animation-element.slide.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
  
}

/*end of test*/


/*start of testimonials*/
#client-testimonial-carousel {min-height: 200px;}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background:blue;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 10px;
    height: 10px;
    background:blue;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
/*end of testimonials*/
/*start of newsletter*/
.subscribe-form {
  width: fit-content;
  background-color: #FFF;
  border-radius: 5px;
  padding: 1em;
  margin: 0 auto;
  line-height: 3rem;
  opacity: 1;
}

h1, .textbox, .subscribe-button {
  display: block;
  margin: 10px auto;
}

.textbox {
  width: 100%;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #F48FB1;
}

.textbox:focus, .textbox:active {
  outline: none;
}

.subscribe-button {
  width: 100%;
  font-size: 1.5rem;
  background-color: #F48FB1;
  border: 0;
  padding: 10px;
  color: #FFF;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.subscribe-button:focus, .subscribe-button:active {
  outline: none;
}

.subscribe-button:hover:not(:disabled), .subscribe-button:active:not(:disabled) {
  background-color: #F06292;
}

.subscribe-button:active:not(:disabled) {
  box-shadow: 2px 2px rgba(0,0,0,.2) inset;
}

.subscribe-button:disabled {
  cursor: default;
  opacity: .5;
}

h1 {
  color: #E91E63;
}

.newsletterheadingcolor {
  color: #E91E63;
}

.button-text:hover, .button-icon:hover {
  cursor: inherit;
}

.button-text {
  margin-right: 10px;
}

.to-expand {
  position: absolute;
  transition: transform .5s;
  top: 50%;
  left: 50%;
}

.to-expand.show svg {
  width: 24px;
  height: 24px;
}

.to-expand.show {
  transform: scale(10, 10);
  animation-name: send-email;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  outline: 1px solid transparent;
}

@keyframes send-email {
  from {left: 50%;}
  to {left: 120%;}
}

.to-fade-in {
  font-size: 6rem;
  position: absolute;
  top: 35%;
  left: 45%;
  color: #E91E63;
  opacity: 0;
  transition: all .5s;
  cursor: default;
  visibility: hidden;
}

.fade-in {
  animation-name: fadeIn;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  visibility: visible;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
/*end of newsletter*/


.mystudentbg{
  background-image: url("/media/coverphotos/studentbg.jpg");
  background-size: 350px;
  background-repeat: repeat;
}

.mystudentbgheight{
  height: 20%;
}

/* start of social media styling */

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

@charset "UTF-8";

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram, .fa-whatsapp {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.whatsapp {
  background: #075E54;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
/* end of social media  styling */


/* start of footer styling */


.mycoolheading{
	background:#26272b;
	color:white;
	text-align:center;
	opacity:.9;
}

.mycoolheading{
	opacity:1;
}

.mycoolpre{
	background:transparent;
	border:none;
	font-size:14px;
	font-family:'Open Sans', sans-serif;
	opacity:.8;
}

.mycoolpre:hover{
	opacity:1;
}


.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}



.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* end of footer styling */

.floatleft{
float:left;
}

.floatright{
float:right;
}

.hidecontent{
display:none;
}

.myboughtvideos{
	opacity:0.7;
}

.myboughtvideos:hover{
	opacity:1;
}


tr:nth-child(even) {background-color: #f2f2f2}

.MainHeading{
	border:2px;
	border-style: groove;
}
.Admin{
border-bottom-left-radius: 0;
padding: 3px;
color:green;
flex-direction: row-reverse;
}

.Client{
color:red;
padding: 5px;
}
.maintainPre{
	white-space: pre-wrap;
	word-break: keep-all;
}

.fontSizeResize{
	font-size: 1.875em;
}

.leftAlign{
	text-align:left;
}

.justifyAlign{
text-align:justify;	
}

.Myspacing{
word-spacing: 3px;
line-height: 2;
}

.capitalize{
	text-transform:capitalize;
}

.lowercase{
	text-transform:lowercase;
}

.uppercase{
	text-transform:uppercase;
}

.form-box {
  max-width: 700px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

.mycover{
	background:white;
	padding:6px;
	opacity:0.9;
	border-radius:.5%;
}

.mynav2{
background:orange;
border-radius:3%;
margin-left:2px;
opacity:0.6;
margin:auto;
color:white;
}

.centerContent{
    text-align:center;
}


body{
	font-size: 100%;
    margin-top: 70px;
	font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 12px;
	background-color:#26272b;
}

#login_slide{
    background-color: aqua;
    padding: 10px;
    width: 50%;
    height: 85%;
    margin: auto;
    margin-top: 3%;
}

.signBtn{
    background: blue;
    padding: 2%;
    border-radius: 3%;
    text-align: center;
}

.userInputsContainer{
    background: red;
    margin-top: 2%;
    height: 90%;
    padding: 3%;
}

#videoSection{	
    background-color: blue;
    padding: 10px;
    width: 60%;
	margin:auto;
}



.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  background-color: #fcfcfe;
}
